$mainMenuWidth: 60px;

$appMainColor: #ff7a00;
$appBackground: #2b2b2b;
$appBackground1: #333333;
$appBackground2: #484848;
$appBackground3: #3a3a3a;

$fontBold: #b3b3b3;
$font: #8c8c8c;
$middleImportantText: #6b4625;
$middleImportantTitle : #5d5d5d;

$tableHeadShadow: 0px 5px 16px 0px rgba(0,0,0,.22);